@model Networking_Project.Models.OrdersTbl

@{
    ViewBag.Title = "editOrder";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Change place</h4>
        <hr />




        <div class="form-group">
            @Html.LabelFor(model => model.Chair, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Chair, new { htmlAttributes = new { @class = "form-control" } })
                @ViewBag.ErrorMessage
                @Html.ValidationMessageFor(model => model.Chair, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@*<div class="form-horizontal">
        <h4>Edit Order</h4>
        <hr />




        <div class="form-group">
            @Html.LabelFor(model => model.Chair, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Chair, new { htmlAttributes = new { @class = "form-control" } })
                @ViewBag.ErrorMessage
                @Html.ValidationMessageFor(model => model.Chair, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="EDIT" class="btn btn-default" />
            </div>
        </div>
    </div>*@


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
